.disk{
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    box-shadow: inset 3px 6px 13px #a5a4a4, inset -6px -6px 13px #ffffff;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    &::after{
      content: "";
      position: absolute;
      height: calc(100% - 3rem);
      width: calc(100% - 3rem);
      top: 50%;
      left: 50%;
      z-index: 1;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      box-shadow: 6px 6px 16px #a5a4a4, -6px -6px 16px #ffffff;

    }
    &::before{
        content: "";
        position: absolute;
        height: 3rem;
        width: 3rem;
        top: 50%;
        left: 50%;
        z-index: 1;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        background-color: #cac8c8;
        box-shadow: inset 1px 2px 1px #a5a4a4, inset -1px -2px 1px #ffffff;
      }
      &--rotate{
        animation: rotate infinite 20s linear backwards;
      }
}

@keyframes rotate{
0%{
    transform: rotate(0deg);
    transform-origin: center;
}
25%{
    transform: rotate(90deg);
    transform-origin: center;
}
50%{
    transform: rotate(180deg);
    transform-origin: center;
}
75%{
    transform: rotate(270deg);
    transform-origin: center;
}
100%{
    transform: rotate(360deg);
    transform-origin: center;
}
}